.prvni {
     background-color: black;  
     height: 1000px; }
.druha {
background-color: purple;
height: 900px;
   }
.treti {
background-color: red;
height: 900px;
}
.four {
 background-color: gray;
height: 900px;
   
}




.nadpis {
    color: white;    
    font-size: 200px;
    padding-top: 10%; }
.nadpistwo {
color:white
}

.arrow {
width:125px;
height:120px;
margin-top: 50px;
position:relative;
}


.arrow:hover {
border-radius: 100px;
background-color:whitesmoke;
 border-width: 0px;
    border-style: solid;
    border-color: whitesmoke; 
}
.tile {
    padding-top: 250px;
    background-color: red;
    height: 320px;
    width: 300px;
    margin-left:20%;
    margin-top: 110px;
    box-shadow: 5px 5px 5px brown;
    color: white;
    overflow: hidden;

}

.tile:hover {
    background-color: purple;
    height: 320px;
    width: 300px;
    box-shadow: 5px 5px 5px white;
    border-top: solid;
    border-left: solid;
    border-top-color: white;
    border-left-color: white;
 
}


.sub {
 color: white;
 font-size: 55px;
 padding-top: 40px;

}

  #content {
width: 900px;
color: white;

padding: 20px;
padding-top 0;


max-height: 70px;
overflow: hidden;


-webkit-transition: max-height 0.5s;
-moz-transition: max-height 0.5s;
transition: 0,5s;
}


#content.open {
max-height: 900px;

 -webkit-transition: max height  0.7s;
  -moz-transition: max-height 0.7s;
  transition: max height 0,7s;
}

.morebutton {
color: blue;
background-color: red;

}

.morebutton:hover {
background-color: purple;
box-shadow: 2px 2px 5px white;
    border-top: solid;
    border-left: solid;
    border-top-color: white;
    border-left-color: white;

}
